@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.text-poppins {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer-col{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 0px;
}
